doctype html
html(lang ="es")
	head
		title=Titulo
		link(href="/css/style.css",rel='stylesheet')
	body
		h1 
			a(href="http://tiendafrutas.com") Tienda de camisetas
		div.contenedor
			h2="Gracias por comprar la camiseta "+ Titulo
			img(src="/"+imagen)
			a(href="/tienda").comprar Regresar
